<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>concert-site</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>groupes</display-name>
    <servlet-name>groupes</servlet-name>
    <servlet-class>servlet.groupe_artiste_api.GroupeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupes</servlet-name>
    <url-pattern>/groupe-artiste-api/groupes</url-pattern>
    <url-pattern>/groupe-artiste-api/groupes/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>artistes</display-name>
    <servlet-name>artistes</servlet-name>
    <servlet-class>servlet.groupe_artiste_api.ArtisteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>artistes</servlet-name>
    <url-pattern>/groupe-artiste-api/artistes</url-pattern>
    <url-pattern>/groupe-artiste-api/artistes/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admins</display-name>
    <servlet-name>admins</servlet-name>
    <servlet-class>servlet.admin_api.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admins</servlet-name>
    <url-pattern>/admin-api/admins</url-pattern>
    <url-pattern>/admin-api/admins/*</url-pattern>
  </servlet-mapping>
</web-app>